.settings {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px;

	&__title {
		font-size: 30px;
		margin-bottom: 28px;
	}

	&__item {
		margin-bottom: 40px;

		&:nth-last-child(2) {
			margin-bottom: 15px;
		}
	}

	&__submit {
		margin-left: 270px;
	}

	&__message {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;

		&--show {
			visibility: visible;
			animation-name: message;
			animation-duration: 4s;
			animation-fill-mode: forwards;
		}

		@keyframes message {
			10% {
				opacity: 1;
			}

			90% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}
	}
}

@media (max-width: 992px) {
	.settings {
		&__title {
			font-size: 24px;
		}

		&__item {
			margin-bottom: 32px;
		}

		&__submit {
			margin-left: 216px;
		}
	}
}

@media (max-width: 770px) {
	.settings {
		&__title {
			font-size: 26px;
			margin-bottom: 28px;
		}

		&__submit {
			margin-left: 0;
		}
	}
}