.message {
	font-size: 12px;
	color: $whiteColor;
	width: 290px;
	padding: 10px;

	&--success {
		border-left: 5px solid #42a85f;
		background: #68cd86;
	}

	&--error {
		border-left: 5px solid #953737;
		background: #cd6868;
	}
}