.subtitle {
	font-size: 18px;
	width: 250px;
	line-height: 1.5;
}

.content {
	margin-left: 20px;
	max-width: 490px;
	font-size: 14px;
	line-height: 1.5;
}

@media (max-width: 992px) {
	.subtitle {
		font-size: 14.4px;
		width: 200px;
	}

	.content {
		font-size: 11.2px;
		max-width: 392px;
		margin-left: 16px;
	}
}

@media (max-width: 770px) {
	.subtitle {
		display: none;
	}

	.content {
		font-size: 13px;
		margin-left: 0;
		max-width: 490px;
	}
}

@media (max-width: 575px) {
	.content {
		max-width: 100%;
	}
}